<section>
    <ui-view></ui-view>
</section>



<script type="text/ng-template" id="/dashboard.html"> 
<h3>
    This is the body {{testVar}}
    <br>
    <button ng-click="changeVal()">Click Me</a>
</h3>

<span>
    <a href="#/paychecks">Income</a>
</span>
</script>


