<article ng-app="dashboard" ng-controller="DashboardController">
<header>
    <h4 class="pull-right">
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    </h4>
    <h1 class="h2">Budget Dashboard</h1>
</header>

<section>
<h3>
    This is the body {{testVar}}
    <br>
    <button ng-click="changeVal()">Click Me</a>
</h3>
</section>
