
    <div ng-repeat="paycheck in paychecks">
        <span style="font-size:20px; margin-left:10px;">
            {{paycheck.name}}, {{paycheck.amount | currency}}
            <a href="#/deductions/{{$index}}">Deductions</a> 
        </span>
    </div>

    <form name="form"  ng-submit="addPaycheck()"
        style="margin-top:30px;">
        <h3>Add a new paycheck</h3>

        <div class="form-group">
            <input type="text"
            class="form-control"
            placeholder="Name"
            ng-model="name"></input>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.amount.$invalid }">
            <input type="text"
            class="form-control"
            placeholder="Gross Amount"
            ng-model="amount" name="amount" fcsa-number></input>
            
            <div ng-show="form.amount.$invalid" class="help-block">
            The amount should only have up to two decimals, review the number for accuracy
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
